.cat-homepage--centered {
    margin: 0 auto;
    width: 1050px;
}
.cat-tile--image-sm {
    object-fit: cover;
    width: 100px;
    height: 50%;
}
.cat-tiles--inline-display {
    display: inline-block
}
