<div class="flex-column medications-flyout">
    <div class="navbar">
        <ul class="nav">
          <li class="active">Frequent</li>
        </ul>
    </div>

    {{frequent-medications selectMedication="newMedicationSelected"}}
</div>
