<div class="support-info-container">
    <div class="main-header">
        <h5 class="header5">{{model.title}}</h5>
        <p class="sub-header">{{model.tagline}}</p>
    </div>
    <div class="support-info">
        {{partial model.template}}
    </div>
</div>
