{{#if medlinePlusUrl}}
    <a href={{medlinePlusUrl}} target="_blank" data-element="medlinePlus-btn">
        {{#if useIcon}}
            <i class="icon-medline-plus"></i>
        {{else}}
            MedlinePlus
        {{/if}}
    </a>
{{/if}}
