{{d-pf-text-area value=value placeholderText=placeholderText maxlength=maxlength
    rows=rows autosize=autosize disabled=isDisabled data-element=dataElement isShorter=isShorter}}
{{#if canShowCounter}}
    <p class="counter pull-right">{{charactersRemaining}} characters left</p>
{{/if}}
