{{#content-modal
    modalStyle=3
    isVisible=isDownloadImmunizationRecordVisible
    close="cancelDownloadImmunizationRecord" as |section|}}
    {{section.header title="Download patient immunization record" isCloseByXorOutsideVisible=true}}
    {{#section.body}}
    <div class="download-immunization-registry-spacer">
        <div>Select the registry that will receive this patient's immunization record</div>
        <div>
            {{single-select
                content=immunizationRegistries
                prompt="Select a registry"
                optionLabelPath="displayName"
                value=selectedImmunizationRegistry
            }}
        </div>
    </div>

    {{#if selectedImmunizationRegistry}}
        <div class="download-immunization-registry-spacer">
            <div>Registry provider / practice ID (optional)</div>
            <div>{{d-text-field maxlength="100" value=selectedImmunizationRegistry.registryProvider}}</div>
        </div>
    {{/if}}
    {{/section.body}}
    {{section.footer
        buttonRightPrimaryText="Download"
        buttonRightPrimaryAction=(action "doDownloadImmunizationRecord")
        buttonLeftText="Cancel"
        buttonLeftAction=(action "cancelDownloadImmunizationRecord")}}
{{/content-modal}}
