<div class="slc-header clearfix">
    <div class="slc-header-inner row">
        <div class="col-xs-3">PATIENT/ID</div>
        <div class="col-xs-3">DOB/SSN</div>
        <div class="col-xs-3">PHONE/CITY</div>
        <div class="col-xs-3  text-right">LAST APPOINTMENT</div>
    </div>
</div>
