<label class="field-label">Social history</label>
{{text-area-counter autofocus=true isDisabled=isNotAllowedToEdit autosize=true 
    value=content.description placeholderText="Enter social history" 
    maxlength="4000" rows="3"}}