{{#if rows}}
    <div class="cat-container">
        {{#if fullScreenUrl}}
            <img src={{fullScreenUrl}} alt="Flowers in Chania">
        {{else}}
            {{#vertical-collection rows estimateHeight=38 containerSelector=".cat-container" lastReached="loadNextPage" as |row|}}
                {{image-row row=row zoomImage=(action "zoomImage")}}
            {{/vertical-collection}}
        {{/if}}
    </div>
{{/if}}
