<div class="cat-homepage--centered">
    <div class="search-results">
        {{#if rows}}
            {{#vertical-collection rows estimateHeight=200 containerSelector=".search-results" lastReached="loadMore" as |row|}}
                {{image-row row=row viewFullScreen=(action "viewFullScreen")}}
            {{/vertical-collection}}
        {{/if}}
    </div>
</div>
